doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title OkWomanClub
    link(rel='stylesheet', href='css/style.css')
  body
    section.main 
        .header
            a(href="/") 
                img(src="/images/svg/logo.svg", alt="Logo").header__logo
            ul.header__nav
                li.header__link 
                    a(href="#") Про платформу
                li.header__link 
                    a(href="#") Відгуки
                li.header__link 
                    a(href="#") Матеріали
                li.header__link 
                    a(href="#") Вартість
            ul.header__burger.burger-button
                li 
                li
                li
            .header__mobile.burger-menu     
                ul.header__mobile-links
                    li.header__link 
                        a(href="#") Про платформу
                    li.header__link 
                        a(href="#") Відгуки
                    li.header__link 
                        a(href="#") Матеріали
                    li.header__link 
                        a(href="#") Вартість
                .header__mobile-buttons
                    button.header__button Вхід
                    button.header__button Реєстрація
            .header__auth
                button.header__button Вхід
                button.header__button Реєстрація
        .hero 
            .hero__text 
                .hero__book 
                    img(src="/images/png/book.png", alt="Book").hero__book-image
                    p.hero__book-text Збірка матеріалів 
                        span Ok
                        span WomanClub
                h1.hero__title «Стосунки 
                    span Без 
                    | Болю»
                p.hero__description 
                    span 30 днів доступу до матеріалів, 
                    | що допоможуть зцілити «травматичний досвід»  і почуватися щасливою жінкою поруч з коханим чоловіком кожну секунду життя
                .hero__info 
                    p Обрані тренінги, майстер-класи та практики Зворотній зв’язок від 
                        span Ольги Керхер
                button.hero__button Забрати матеріали
            .hero__image
                img(src="/images/png/main.png", alt="Main photo" )
                span
    section.info 
        .info__cases 
            p.info__title Можливо, ви зараз в стосунках, але 
                span не відчуваєте щастя  
            ul.info__cards   
                li.info__cards-item     
                    img(src="/images/png/01.png", alt="Case image") 
                    .info__cards-text
                        p 
                            span У парі немає порозуміння, 
                            | ви відчуваєте себе на самоті з проблемами 
                li.info__cards-item     
                    img(src="/images/png/02.png", alt="Case image") 
                    .info__cards-text
                        p 
                            span Втрачаєте свою особистість 
                            | у стосунках і все життя починає крутитися навколо чоловіка 
                li.info__cards-item     
                    img(src="/images/png/03.png", alt="Case image")
                    .info__cards-text 
                        p 
                            span Вже немає тої пристрасті 
                            | і «метеликів у животі»
                li.info__cards-item     
                    img(src="/images/png/04.png", alt="Case image") 
                    .info__cards-text
                        p За останній рік ви можете згадати 
                            span не більше 1-2 щасливих спільних моментів  
        .info__solution
            img(src="/images/png/05.png", alt="Photo")
            ul.info__questions
                li.info__questions-item Що робити в цій ситуації? 
                li.info__questions-item Піти? А що далі?  
                li.info__questions-item Лишатися? І продовжувати просто терпіти?  
            p.info__text 
                span На жаль, 
                | більшість обирають саме терпіти.  
                br
                br 
                | Бо на жаль, немає знань, як дати стосункам нове життя. Немає розуміння, як прожити розставання і перейти в нові щасливі стосунки

    script(src='/js/script.js')
