@import '_normalize';
@import '_fonts';
$pink: #EF358B;
$main: #242424;

body {
  font-family: "Gilroy", sans-serif;
  background-color: #ffffff;
  color: $main;
}

.main {
  background: linear-gradient(to bottom right, #FFFBF5, #FFD2DE);
  padding: 25px 100px 0px;
  @media screen and (max-width: 768px) {
    padding: 25px 50px 25px;
  }
  @media screen and (min-width: 390px) and ( max-width: 768px) {
    padding: 16px 25px 25px;
  }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__mobile { 
      display: none;
      @media screen and (min-width: 390px) and ( max-width: 768px) {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        background: linear-gradient(to bottom right, #FFFBF5, #FFD2DE);

        display: none;
        flex-direction: column;
        align-items: center;

        z-index: 4;

        padding: 16px;
        margin-top: 80px;
      }
      &-buttons { 
        @media screen and (min-width: 390px) and ( max-width: 768px) {
          margin-top: 64px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 32px;
        }
      }
    }
    &__burger { 
      @media screen and (max-width: 768px) {
        width: 50px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        li { 
          border-radius: 4px;
          height: 4px;
          width: 100%;
          background-color: $pink;
          transition: transform 0.3s ease, opacity 0.3s ease;
          
          &:nth-child(2){ 
            margin: 5px 0px;
          }
        }
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__link {

    a { 
      font-size: 16px;
      transition: all 0.3s;
      @media screen and (min-width: 390px) and ( max-width: 768px) {
        font-size: 48px;
      }
      &:hover { 
        color: #313131;
        transition: all 0.3s;
      }
    }
    
  }

  &__auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    @media screen and (max-width: 768px) {
      display: none;
    }
    
  }

  &__button {
    background-color: $pink;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    padding: 6px 23px;
    cursor: pointer;
    line-height: 150%;
    letter-spacing: 0.3px;
    font-family: "Gilroy", sans-serif;
    transition: all 0.3s;
    @media screen and (min-width: 390px) and ( max-width: 768px) {
      font-size: 24px;

    }
    &:hover { 
      background-color: #f54798;
      transition: all 0.3s;
    }
  }
}
.hero { 
  display: flex;
  gap: 49px;

  padding-top: 25px;
  &__text { 
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__book { 
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    &-image { 
      width: 94px;
      height: 110px;
    }
    &-text { 
      font-size: 24px;
      letter-spacing: 0.3px;
      line-height: 144%;
      padding-top: 16px;
      @media screen and (max-width: 768px) {
        font-size: 21px;
      }
      span { 
        font-weight: bold;

        &:first-child { 
          color: $pink ;
        }
        &:last-child{ 
          color: $main;
        }
        
      }
    }
  }
  &__title { 
    margin-top: 20px;

    font-weight: 800;
    font-size: 85px;
    letter-spacing: 0.3px;
    line-height: 115%;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      font-size: 60px;
      text-align: center;
    }
    @media screen and (max-width: 390px) {
      font-size: 36px;
    }
    span { 
      color: $pink;
    }
  }
  &__description { 
    margin-top: 15px;

    font-size: 18px;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
    @media screen and (max-width: 390px) {
      font-size: 16px;
    }
    span { 
      font-weight: bold;
    }
  }
  &__info { 
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 0px 20px 45px;
    margin: 21px 0px 0px 25px;
    max-width: 450px;

    position: relative;

    &::before { 
      display: block;
      content: "";
      background-image: url("/images/svg/warn.svg");
      border: 10px solid #ffffff;
      border-radius: 50%;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      z-index: 1;
    }
    p { 
      font-size: 18px;
      display: inline-block;
      width: fit-content;
      max-width: 100%;
      span { 
        font-weight: 600;
      }
      @media screen and (min-width: 390px) and ( max-width: 768px) {
        font-size: 14px;
      }
    }
    
  }
  &__button { 
    margin-top: 25px;

    background-color: $pink;
    color: #ffffff;
    padding: 15px 48px;
    border-radius: 45px;

    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 160%;
    
    cursor: pointer;

    transition: all .3s;

    &:hover { 
      transition: all .3s;
      background-color: #f54798;
    }

    position: relative;

    &::after { 
      position: absolute;
      content: "";
      background-image: url("/images/svg/arrow.svg");
      width: 117px;
      height: 71px;
      right: -157px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;

      @media screen and (min-width: 390px) and ( max-width: 768px) {
        width: 55px;
        height: 55px;
        right: -55px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  &__image { 
    position: relative;

    @media screen and (max-width: 768px) {
      display: none;
    }
    img { 
      max-width: 705px;
      max-height: 688px;
    }
    span { 
      position: relative;
      display: block;

      &::after{ 
        position: absolute;
        display: block;
        content: "";
        background-image: url("/images/svg/bigElipse.svg");
        background-size: cover;
        width: 64px;
        height: 64px;
        top: -686px;
        left: 20px;
        z-index: 1;
      }
      &::before { 
        position: absolute;
        display: block;
        content: "";
        background-image: url("/images/svg/smallElipse.svg");
        width: 14px;
        height: 14px;
        top: -700px;
        left: 100px;
      }
    }
    &::after{ 
      position: absolute;
      display: block;
      content: "";
      background-image: url("/images/svg/bigElipse.svg");
      width: 85px;
      height: 85px;
      top: -40px;
      right: -90px;
      z-index: 1;
    }
    &::before { 
      position: absolute;
      display: block;
      content: "";
      background-image: url("/images/svg/smallElipse.svg");
      width: 15px;
      height: 15px;
      top: 60px;
      right: 10px;
    }
  }
}
.info {
  padding: 99px 130px 100px;
  @media screen and (max-width: 768px) {
    padding: 32px 40px 40px;
  }
  @media screen and (min-width: 390px) and (max-width: 768px) {
    padding: 16px 25px;
  }
  &__cases{ 
    background-color: #FFF6EB;
    padding: 70px;
    border-radius: 10px;

    position: relative;
    @media screen and (max-width: 500px) {
      padding: 16px;
    }
    
    &::after {
      position: absolute;
      display: block;
      content: "";
      background-image: url("/images/svg/shape.svg");
      background-size: cover;
      width: 157px;
      height: 157px;
      top: 15px;
      right: -40px;
      @media screen and (max-width: 768px) {
        height: 100px;
        width: 100px;
      }
      @media screen and (min-width: 390px) and ( max-width: 768px) {
        width: 85px;
        height: 85px;
        top: 45px;
        right: -20px;
      }
    }
    &::before { 
      position: absolute;
      display: block;
      content: "";
      background-image: url("/images/svg/dots.svg");
      background-size: cover;
      width: 149px;
      height: 149px;
      top: 11px;
      left: 16px;
      z-index: 1;
      @media screen and (max-width: 768px) {
        height: 100px;
        width: 100px;
      }
      @media screen and (min-width: 390px) and ( max-width: 768px) {
        width: 85px;
        height: 85px;
      }
    }
  }
  &__title { 
    padding: 0px 100px;
    margin-bottom: 50px;

    font-size: 45px;
    font-weight: bold;
    text-align: center;
    line-height: 130%;
    letter-spacing: 0.3px;
    position: relative;
    z-index: 2;
    span {
      color: $pink;
    }

    @media screen and (max-width: 768px) {
      font-size: 32px;
      padding: 0 48px;
    }
    @media screen and (min-width: 390px) and ( max-width: 768px) {
      font-size: 24px;
      padding: 0;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 20px;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
    @media screen and (min-width: 390px) and ( max-width: 768px) {
      gap: 16px;
    }
    &-item {
      background-color: #FFFFFF;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
      padding: 41px 37px;
      overflow: visible; 

      max-height: 170px;

      @media screen and (min-width: 390px) and ( max-width: 768px) {
        gap: 16px;
      }
      img { 
        width: 140px;
        height: 150px;
        margin-left: -55px;

        @media screen and (min-width: 390px) and ( max-width: 768px) {
          width: 105px;
          height: 105px;
          margin-left: -40px;
        }
      }
    }
    &-text{

      p {
        font-size: 21px;
        font-weight: normal;

        @media screen and (min-width: 390px) and ( max-width: 768px) {
          font-size: 16px;
        }
        span { 
          font-weight: bold; 
        }
      }
    }
  }
  &__solution { 
    margin-top: 70px;

    padding: 25px 40px 25px 0px;

    background-color: #FFCF5D;
    border-radius: 150px 10px 10px 150px;

    display: flex;
    align-items: center;
    gap: 20px;

    max-height: 237px;
    @media screen and (max-width: 390px) {
      margin-top: 35px;
    }
    img { 
      width: 237px;
      height: 237px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      border-radius: 150px 150px 10px 10px;
      max-height: none;
      padding: 25px;
    }
    @media screen and (min-width: 390px) and ( max-width: 768px) {
      border-radius: 100px 100px 15px 15px;
    }
  }
  &__questions{ 

    &-item { 
      padding: 11px 0px;
      color: $main;
      font-size: 16px;
      font-weight: 500;
      background-color: #FFFFFF;
      border-radius: 115px;
      letter-spacing: 0.3px;
      line-height: 150%;
      text-align: center;
      border: 1px solid #FFCF5D;

      &:first-child { 
        transform: rotate(-4.7deg);
        width: 306px;
        position: relative;

        &::before { 
          position: absolute;
          display: block;
          content: "";
          background-image: url("/images/svg/ques.svg");
          background-size: cover;
          width: 35px;
          height: 55px;
          top: -35px;
          left: -50px;
          @media screen and (max-width: 768px) {
            left: 100%;
            top: -80px;
          }
          @media screen and (min-width: 390px) and ( max-width: 768px) {
            left: 250px;
          }
        }
      }
      &:nth-child(2) { 
        transform: rotate(8deg);
        width: 228px;
        margin: 10px 0px 2px 65px;
        position: relative;
        @media screen and (min-width: 390px) and ( max-width: 768px) {
          margin-left: 100px;
          width: 200px;
        }
        &::before { 
          position: absolute;
          display: block;
          content: "";
          background-image: url("/images/svg/ques.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 25px;
          height: 38px;
          transform: rotate(18deg);
          top: 30px;
          left: -90px;
          @media screen and (max-width: 768px) {
            left: 100%;
            top: -20px;
          }
          @media screen and (max-width: 500px) {
            left: -115px;
            top: -200px;
            transform: rotate(38deg);
          }
        }
      }
      &:last-child { 
        transform: rotate(4.2deg);
        width: 386px;
        position: relative;
        @media screen and (min-width: 390px) and ( max-width: 768px) {
          width: 300px;
        }
        &::before { 
          position: absolute;
          display: block;
          content: "";
          background-image: url("/images/svg/ques.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 30px;
          height: 37px;
          transform: rotate(30deg);
          top: 30px;
          left: -40px;
          z-index: 2;
          @media screen and (max-width: 768px) {
            left: 100%;
            top: 0;
          }
          @media screen and (min-width: 390px) and ( max-width: 768px) {
            left: 220px;
            top: -360px;
          }
        }
      }
    }
  }
  &__text { 
    font-size: 21px;
    line-height: 140%;
    letter-spacing: 0.3px;

    position: relative;
    @media screen and (max-width: 768px) {
      margin-top: 24px;
      text-align: center;
    }
    @media screen and (max-width: 390px) {
      font-size: 18px;
    }
    &::before { 
      position: absolute;
      display: block;
      content: "";
      background-image: url("/images/svg/whiteArrow.svg");
      background-size: cover;
      width: 96px;
      height: 56px;
      top: 30px;
      left: -110px;

      @media screen and (min-width: 390px) and ( max-width: 768px) {
        display: none;
      }
    }

    span { 
      font-weight: bold;
    }
  }
} 
.menu-open { 
  display: flex;
}
.menu-closer {
  li {
    &:nth-child(1) {
      transform: translateY(13px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}